In [14]:
# __author__ = 'kohna'
# -*- coding:UTF-8 -*-
import requests
import psycopg2
import time
import re


class DBopt:
    def __init__(self):
        try:
            self.conn = psycopg2.connect(database="solidot", user="python", password="passw0rd3pyth4n", host="127.0.0.1", port="5432")
        except psycopg2.Error, e:
            print "xs"
            return

        self.cur = self.conn.cursor()
        self.sql = 'sql'

    def sqlexe(self):
        try:
            temp = self.cur.execute(self.sql)
        except psycopg2.Error, e:
            print "xSWs"
            return
        self.conn.commit()

        return temp

    def dbclose(self):
        self.conn.close()


db = DBopt()
db.sql = '''CREATE TABLE IF NOT EXISTS hotid(id INTEGER PRIMARY KEY,b INTEGER ,title VARCHAR(32),url VARCHAR(64), cloc TIME )'''
db.sqlexe()
cloc = time.strftime('%Y-%m-%d %H:%M', time.localtime(time.time()))
timest = str(time.time())

head = {'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.19 Safari/537.36'}

for i in range(1, 10000):
    url = 'http://top.baidu.com/clip?b=' + str(i)
    rtex = requests.get(url, headers=head)
    if len(rtex.content) != 32283:
        tre = re.findall("\[\"p_name\"\] = \".*?\"", rtex.content)
        titl = tre[0][14:-1].decode('GBK')
        print titl
        db.sql = "INSERT INTO hotid(b,title,url,cloc) VALUES (" + str(i) + "','" + titl + "','" + url + "','" + cloc + "')"
        db.sqlexe()
    time.sleep(2)
db.dbclose()

今日实时热点排行榜
xSWs
今日热门搜索排行榜
xSWs
今日美女排行榜
xSWs
今日电视剧排行榜
xSWs
今日热门搜索排行榜
xSWs
今日移动热门突发排行榜
xSWs
今日小说排行榜
xSWs
今日热点推荐排行榜
xSWs

IndexError: list index out of range